<% if logged_in? %>
<h2>New Event</h2>
<% else %>
<h1>New Event</h1>
<% end %>

<div>
  <div>
    <%= form_for @event, url: {action: "create"} do |f| %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :venue %>
      <%= f.text_field :venue %>

      <%= f.label :date %><br>
      <%= f.date_field :date, as: :date, value: f.object.try(:strftime,"%m/%d/%Y") %> <br><br>

      <%= f.submit "Create my event" %>
    <% end %>
  </div>
</div>